body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.t-c {
    text-align: center;
}

.chatView {
    margin: 10px 0;
    border: 1px solid #62ff3a;
    border-radius: 10px;
    padding: 0 20px;
    height: 200px;
    min-width: 300px;
    overflow: auto;
}